/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #f3f3f3;
  }
  
  .flexbox{
    display: flex;
    justify-content: space-between;
  
    width: 100%;
    max-width: 768px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
  
  }
  
  .flexbox .board{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: #313131;
    padding: 15px;
  
  }
  
  .flexbox .board .card{
    padding: 15px 25px;
    background-color: #f3f3f3;
    cursor: pointer;
    margin-bottom: 15px;
    margin-bottom: 15px;
  
  } */
.pointer{
  cursor: pointer;
}
.board-area {
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.column {
  flex-basis: 20%;
  background: #ddd;
  min-height: 90vh;
  padding: 20px;
  border-radius: 10px;
}
.column h1 {
  text-align: center;
  font-size: 22px;
}
.item {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.invisible {
  display: none;
}
